.root {
  .slide {
    height: 240px;
  }

  .image {
    object-fit: cover;
  }

  .scrollbar {
    --swiper-scrollbar-border-radius: 0;
    --swiper-scrollbar-top: auto;
    --swiper-scrollbar-bottom: 0;
    --swiper-scrollbar-left: auto;
    --swiper-scrollbar-right: 4px;
    --swiper-scrollbar-sides-offset: 1%;

    --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(255, 255, 255, 0.8);
    --swiper-scrollbar-size: 4px;
  }

  &--wide {
    .slide {
      height: 340px;
    }
  }
}
