.root {
    --spinner-color: var(--trmk-color-white);
    --spinner-animation-speed: 0.8s;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .icon {
        width: 24px;
        height: 24px;

        display: inline-block;

        border: 2px solid var(--spinner-color);
        border-bottom-color: transparent;
        border-radius: 50%;

        animation: rotation var(--spinner-animation-speed) linear infinite;
    }

    .label {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.01em;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
