@use "breakpoints" as bp;

.root {
  padding-top: 0;
  background: var(--cream-dark);

  .header {
    margin: 0 auto;
    margin-bottom: 12px;
    max-width: 1200px;

    display: flex;
    justify-content: center;
  }

  .title {
    font-size: 14px;
  }

  --rules-gap: 10px;

  .rules {
    margin: 0 auto;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    gap: var(--rules-gap);
  }

  .rule {
    padding: 6px 10px;

    background: #fff;
    border-radius: 6px;
    width: 100%;
  }
}

@include bp.above(640px) {
  .root {
    .rules {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .rule {
      width: calc(50% - (var(--rules-gap) / 2));
    }
  }
}
